{% extends 'base.html' %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>candidate Dashboard</title>
</head>


<div class="container">


    <div class="card mt-5">
        <div class="container">
        
          <div class="row">
            <div class="col-md-6">
                <h3 class="card-title mt-3">Bienvenue, {{ profile.user.username }}</h3>
            </div>
              
            <div class="col-md-6 text-md-end">
                
              <a href="{% url 'upload_resume' %}" class="btn btn-primary mt-3"><i class="fa-solid fa-file-pdf fa-lg"></i> Importer votre CV</a>
            </div>
        </div>

            <hr>
            <div class="row g-0">
                <div class="col">
                  {% if  not profile.resume_path  %}
                  <div class="justify-content-center align-items-center text-center">
                   <br> <img src="{% static 'img/not_found.png' %}" style="width: 500px; height: auto;">
                    <br><small>CV non trouvé</small>
                    <br><small><strong>Pour bénéficier d'une analyse intelligente de votre CV et de recommandations personnalisées, veuillez importer votre CV.</strong></small>
                    <br><small>Assurez-vous que votre CV est à jour pour vous aider à vous démarquer.</small>
                  </div>
                {% else  %}
                <embed
                src="{% url 'serve_pdf' profile.resume_path %}"
                width="500" height="375" type="application/pdf">
                {% endif  %}
                </div>


                <div class="col">
                    <div class="card-body">

                     

                        <p class="card-text"><b>Nom et Prénom:</b> <span class="badge badge-info rounded-pill d-inline">{{ profile.name }}</span></p>
                        <p class="card-text"><b>Email:</b><span class="badge badge-info rounded-pill d-inline">{{ profile.email }}</span></p>
                        <p class="card-text"><b>N° de téléphone:</b> <span class="badge badge-info rounded-pill d-inline">{{ profile.phone }}</span></p>
                        <p class="card-text"><b>Education:</b> 
                          
                         {% for edu in education %}
                          <span class="badge badge-info rounded-pill d-inline">{{ edu }}</span>
                          {% endfor %}
                        </p>
                        
                        
                        <p class="card-text"><b>Skills:</b>  
                          
                          {% for skill in skills %}
                        
                            <span class="badge badge-info rounded-pill d-inline">{{ skill }}</span>
                        
                        {% endfor %}
                       </p> 

                        <p class="card-text"><b>Domaine:</b> <span class="badge badge-info rounded-pill d-inline"> {{ profile.category }}</span></p>

                        <p class="card-text">
                            <small class="text-muted">Dernières Modification: {{profile.updated_at}}</small>
                        </p>
                    </div>
                  
                </div>
            </div>
        </div>



        <div class="card-footer">
          <div class="alert alert-warning mt-3" role="alert">
            <small class="text-muted">
            Les informations affichées ci-dessus sont extraites à partir de l'intelligence artificielle et peuvent contenir des erreurs.<br>
             Veuillez vérifier et corriger si nécessaire. <a href="{% url 'edit_candidate_profile' %}"> Modifier </a> 
          </small>
          </div>
  
        </div>

       
    </div>

    <div class="card mt-5">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title mt-3">Vos candidatures</h3>
            <a class="text-md-end" href="{% url 'home' %}">Liste des Postes Vacants</a>
        </div>
           
            <hr>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Titre du Poste</th>
                    <th>Status du Poste</th>
                    <th>Date de Candidature</th>
                    <th>Statut</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% if applications %}
                    {% for application in applications %}
                  <tr>
                    <td>
                        <p class="fw-normal mb-1">{{ application.job.title }}</p>
                        <p class="text-muted mb-0">{{ application.job.recruiter.company_name }}</p>
                      </td>
                      <td>
                        {% if  application.job.is_open %}
                        <span class="badge badge-success rounded-pill d-inline">Activé</span>
                        {% else %}
                        <span class="badge badge-danger rounded-pill d-inline">Désactivé</span>
                        {% endif %}
                      </td>



                    
    
                    <td>
                      <p class="fw-normal mb-1">{{ application.applied_at }}</p>    
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">{{ application.get_status_display }}</span>
                    </td>
                    <td>
                      <a type="button" class="btn btn-link btn-sm btn-rounded" href="{% url 'edit_application' application.id %}" title="Modifier" >
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                      </a>
                      <a type="button" class="btn btn-link btn-sm btn-rounded"  onclick="confirmAction('Êtes-vous sûr de vouloir supprimer ce job ?', '{% url 'delete_application' application.id %}')" title="Supprimer" >
                        <i class="fa-solid fa-trash fa-xl"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    <p class="fw-normal mb-1 text-muted">Vous n'avez postulé pour aucune offre d'emploi.<a href="{% url 'home' %}"> Postuler</a></p>
                </td>
            </tr>
        {% endif %}
               
                </tbody>
              </table>


        </div>

    </div>

</div>





{% endblock %}