{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card mt-5">
        <div class="container">
            <div class="card-header">
                <h2><i class="fa-solid fa-file-pdf fa-lg"></i> Importer votre CV</h2>
            </div>
            <div class="card-body">
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button data-mdb-ripple-init data-mdb-modal-init onclick="showSpinnerModal('Analyse du CV en cours. <br> Veuillez  patienter...')" type="submit" class="btn btn-primary">Télécharger</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}

