
{% extends 'admin/base_admin.html' %}

{% block content_in_sidebar %}
{% load static %}
{% load form_filters %}

<div class="container mt-5 ">
    
    <hr>


    <div class="row mt-4">
       
           
            <h4>Liste des recruteurs</h4>
            <hr>
            

            <div style="max-height: 400px; overflow-y: scroll;">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th>Nom et Prenom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recruiter in recruiters %}
                    <tr>
                        <td><a class="text-info" href="{% url 'view_profile' recruiter.user.id %}">{{ recruiter.user.username }}</a></td>
                        <td>{{ recruiter.user.email }}</td>
                        <td>{{ recruiter.user.first_name}} {{ recruiter.user.last_name}}</td>
                        <td>
                            {% if recruiter.isActive == True %}
                            <div class="d-flex">
                                <a href="{% url 'edit_recruiter' recruiter.id %}" class="btn btn-sm btn-info me-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-warning" onclick="confirmAction('Êtes-vous sûr de vouloir désactiver cet utilisateur ?', '{% url 'delete_recruiter' recruiter.id %}')">
                                    <i class="fa-solid fa-trash"></i>
                                </a>

                            </div>

                            {% else %}

                            <small style="font-size: x-small;" class="text-muted">cet utilisateur a été desactivé . Si vous voulez le restaurer cliquer sur  </small>
                                <a style="font-size: x-small;" href="#"  onclick="confirmAction('Êtes-vous sûr de vouloir réactiver cet utilisateur ?', '{% url 'activate_recruiter' recruiter.id %}')">
                                   Restaurer
                                </a>
                           


                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            </div>
      
    </div>


    <div class="row mt-4">
   
        <div class="card" style="font-size: small;">
            <div class="card-body">
              <h5 class="card-title">{% if edit %} <i class="fa-regular fa-pen-to-square"></i> Modifier{% else %} <i class="fa-solid fa-plus"></i> Ajouter{% endif %} un recruteur</h5>
              
              <hr>

              <form method="post">

                {% csrf_token %}

               

                {% for field in user_form %}
                <div class="mb-4">
     
                    <div data-mdb-input-init class="form-outline ">
                        {{ field | add_class:"form-control" }}
                        <label class="form-label" for="form1Example1"> {{ field.label_tag }}</label>
                      </div>

                      {% if field.help_text %}
                      <div class="form-text  text-warning">{{ field.help_text }}</div>
                      {% endif %}
          


                      {% if field.errors %}
                      {% for error in field.errors %}
                          <div class="text-danger small">{{ error }}</div>
                      {% endfor %}
                  {% endif %}
                   
                </div>
                {% endfor %}


                {{ recruiter_form.as_p }}

                
              
                <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mr-2">{% if edit %}Enregistrer{% else %}Ajouter{% endif %}</button>
                    {% if edit %}
                    <a href="{% url 'manage_recruiters' %}" class="btn btn-secondary">Annuler</a>
                    {% endif %}
                </div>
            </div>
            </form>

             
            </div>
          </div>

    </div>
</div>



    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const params = new URLSearchParams(window.location.search);
            const userId = params.get('user_id');

            if (userId) {
                Swal.fire({
                    title: 'Utilisateur ajouté avec succès',
                    text: 'Voulez-vous envoyer un email d\'authentification à l\'utilisateur ?',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonText: 'Oui',
                    cancelButtonText: 'Non',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Construire l'URL correctement en utilisant le user_id
                        window.location.href = `/send-email/${userId}/`;
                    }
                });
            }
        });
    </script>






{% endblock %}


