{% extends 'base.html' %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>candidate Dashboard</title>
</head>


<div class="container">


    <div class="card mt-5">
        <div class="container">


          <div class="row">
            <div class="col-md-6">
                <h3 class="card-title mt-3">Bienvenue, {{ profile.user.username }}</h3>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="{% url 'upload_resume' %}" class="btn btn-primary mt-3"><i class="fa-solid fa-file-pdf fa-lg"></i> Importer votre CV</a>
            </div>
        </div>

            <hr>
            <div class="row g-0">
                <div class="col">

                    <embed
                        src="{% url 'serve_pdf' profile.resume_path %}"
                        width="500" height="375" type="application/pdf">
                </div>
                <div class="col">
                    <div class="card-body">

                      <div  class="text-info center justify-content-center align-items-center text-center">
                        Analyse du CV en cours  <br> Veuillez Patientez ...<br>
                      <div class="spinner-border text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
            
                     </div>
                      
                    </div>

                        <p class="card-text"><b>Nom et Prénom:</b> <span class="badge badge-info rounded-pill d-inline">{{ profile.name }}</span></p>
                        <p class="card-text"><b>Email:</b><span class="badge badge-info rounded-pill d-inline">{{ profile.email }}</span></p>
                        <p class="card-text"><b>N° de téléphone:</b> <span class="badge badge-info rounded-pill d-inline">{{ profile.phone }}</span></p>
                        <p class="card-text"><b>Education:</b> <span class="badge badge-info rounded-pill d-inline">{{ profile.education }}</span></p>
                        <p class="card-text"><b>Skills:</b>  {% for skill in skills %}
                        
                            <span class="badge badge-info rounded-pill d-inline">{{ skill }}</span>
                        
                        {% endfor %} </p> 

                        <p class="card-text"><b>Domaine:</b> <span class="badge badge-info rounded-pill d-inline"> {{ profile.category }}</span></p>

                        <p class="card-text">
                            <small class="text-muted">Dernières Modification: {{profile.updated_at}}</small>
                        </p>
                    </div>
                  
                </div>
            </div>
        </div>



        <div class="card-footer">
          <div class="alert alert-warning mt-3" role="alert">
            <small class="text-muted">
            Les informations affichées ci-dessus sont extraites à partir de l'intelligence artificielle et peuvent contenir des erreurs.<br>
             Veuillez vérifier et corriger si nécessaire. <a href=""> Modifier </a> 
          </small>
          </div>
  
        </div>

       
    </div>

    <div class="card mt-5">
        <div class="container">
            <h3 class="card-title mt-3">Vos candidatures </h3>
            <hr>
     


            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Titre du Poste</th>
                    
                    <th>Date de Candidature</th>
                    <th>Statut</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                  <tr>
                    <td>
                        <p class="fw-normal mb-1">{{ application.job.title }}</p>
                        <p class="text-muted mb-0">{{ application.job.recruiter.company_name }}</p>
                      </td>
    
                    <td>
                      <p class="fw-normal mb-1">{{ application.applied_at }}</p>    
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">{{ application.get_status_display }}</span>
                    </td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Modifier
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>

        </div>






      
    </div>


</div>





{% endblock %}