{% extends 'base_login.html' %}

{% block content_auth %}
{% load static %}
{% load form_filters %}




            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'img/recruit1.png' %}" alt="">
              </div>
            </div>
            <div class="col-md-6">
           
                
             
                <div class="card text-center" style=" background-color: rgba(255, 255, 255, 0.95); border: none;">
                  <div class="row ">
                    
                      <div class="card-body">
                        <h1 style="color:#3b4a6b; font-weight: bold;" class="text-center">Login</h1>

                       
                        <form class="mt-4" method="post">
                          {% csrf_token %}
                          <!-- Email input -->
            
            
                          <div class="mb-4">
                          {% if form.non_field_errors %}
            
                          {% for error in form.non_field_errors %}
                          <div class="text-danger small"> <i class="fa-solid fa-circle-exclamation"></i> {{ error }}</div>
                          {% endfor %}
            
                          {% endif %}
                           </div>
            
                          <div data-mdb-input-init class="form-outline mb-4">
                            {{ form.username | add_class:"form-control" }}
                            <label class="form-label mb-2" for="form1Example1"> {{ form.username.label_tag }}</label>
                          </div>
                          {% if form.username.errors %}
                          <div class="text-danger">{{ form.username.errors }}</div>
                          {% endif %}
            
                          <div data-mdb-input-init class="form-outline mb-4">
                            {{ form.password | add_class:"form-control" }}
                            <label class="form-label" for="form1Example1"> {{ form.password.label_tag }}</label>
                          </div>
            
            
                          <!-- 2 column grid layout for inline styling -->
                          <div class="row mb-4">
                            <div class="col">
                              <!-- Simple link -->
                              <a href="{% url 'reset_password' %}">Mot de passe oublié ?</a> 
                            </div>
                          </div>
                          <div class="btn-box">
                            <button  type="submit">Se Connecter </button>
                          </div>
                         
                        </form>
                        <p class="mt-3">Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscrivez vous ici</a></p>
                      </div>
                  
                    
            
                  </div>
            
            
                </div>

           
            </div>
       


{% endblock %}