{% extends 'base_login.html' %}

{% block content_auth %}
{% load static %}
{% load form_filters %}





              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static 'img/recruit1.png' %}" alt="">
                </div>
              </div>
              <div class="col-md-6">
             
                  
               
                  <div class="card text-center" style=" background-color: rgba(255, 255, 255, 0.95); border: none;">
                    <div class="card-body">

                     
                          
        
        
                               
                                <h1 style="color:#3b4a6b; font-weight: bold;" class="text-center">S'inscrire</h1>
                                
        
                                <div class="alert alert-info small mb-4">
                                    <i class="fa-solid fa-circle-exclamation"></i> Cet espace est dédié uniquement aux candidats. Si vous êtes recruteur, merci de contacter l'administrateur pour la création de votre compte.
        
                                </div>
        
                                <form method="post">
                                    {% csrf_token %}
        
                                    <!-- Affichage des erreurs non spécifiques aux champs -->
                                    {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.non_field_errors %}
                                        <p><strong>{{ error }}</strong></p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
        
                                   
        
                                    {% for field in form %}
                                    <div class="mb-4">
                         
                                        <div data-mdb-input-init class="form-outline ">
                                            {{ field | add_class:"form-control" }}
                                            <label class="form-label" for="form1Example1"> {{ field.label_tag }}</label>
                                          </div>
        
                                          {% if field.errors %}
                                          {% for error in field.errors %}
                                              <div class="text-danger small">{{ error }}</div>
                                          {% endfor %}
                                      {% endif %}
                                       
                                    </div>
                                    {% endfor %}

                                    <div class="btn-box">
                                        <button  type="submit">S'inscrire</button>
                                      </div>
        
                                    <!-- Submit button -->
                                   
                                </form>
        
                           
                            
        
                     
        
        
                    </div>
              
              
                  </div>
  
             
              </div>
            
           




{% endblock %}