
{% extends 'base.html' %}

{% block content %}
{% load static %}


<style type="text/css">
    .divbg {
        position: relative;
        background-color: rgb(239, 239, 239);
        min-height: 519px;
        text-shadow: 1px 1px #000;
    }
    
    .divbg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("{% static 'img/logo0.png' %}");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: 0.5; /* Ajustez l'opacité selon vos besoins */
        z-index: 0;
    }
    
    .divbg > * {
        position: relative;
        z-index: 1;
    }
    
    </style>


<div id="jobs-banner-img" class="banner d-flex flex-column justify-content-center align-items-center  divbg">
    <!--<h1 class="mt-5">Rejoignez-nous dans notre quête de talents exceptionnels</h1>-->
    <div class="container">

        <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="card w-50">
                <div class="card-body">
                    <h1 class="card-title">Register</h1>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <!--
                       
                        <div class="form-outline mb-4">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                       
                        <div class="form-outline mb-4">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        
                        <div class="form-outline mb-4">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        
                        <div class="form-outline mb-4">
                            {{ form.role.label_tag }}
                            {{ form.role}}
                        </div>
    
                    -->
    
                                <!-- Affichage des erreurs non spécifiques aux champs -->
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <p><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                </div>
                            {% endif %}
    
                {% for field in form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-1">
                                        {% for error in field.errors %}
                                            <p><strong>{{ error }}</strong></p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                       
                      
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-warning btn-block mt-4">Register</button>
                    </form>
                </div>
            </div>
        </div>
    
    </div>


</div>





{% endblock %}