{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load form_filters %}


<style type="text/css">
    .divbg {
        position: relative;
        background-color: rgb(239, 239, 239);
        min-height: 519px;
       
    }
    
    .divbg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("{% static 'img/logo0.png' %}");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: 0.5; /* Ajustez l'opacité selon vos besoins */
        z-index: 0;
    }
    
    .divbg > * {
        position: relative;
        z-index: 1;
    }
    </style>

<div id="jobs-banner-img" class="banner d-flex flex-column justify-content-center align-items-center  divbg">
    <!--<h1 class="mt-5">Rejoignez-nous dans notre quête de talents exceptionnels</h1>-->


    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card ">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-7">


                        <h4 class="card-title">Réinitialisation du mot de passe</h4>
                        <hr>

                        <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant <a href="{% url 'login' %}">vous connecter</a>.</p>
                     

                    </div>
                    <div class="col-md-5">
                       
                       

                        <img
                        src="{% static 'img/login3.png' %}"
                        alt="Trendy Pants and Shoes"
                        class="img-fluid rounded-start"
                        width="300"
                      />
                  
                    </div>


                </div>



            </div>
        </div>
    </div>




</div>





{% endblock %}