{% extends 'admin/base_admin.html' %}

{% block content_in_sidebar %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Recruiter Dashboard</title>
</head>


<div class="container">

<div class="card">
   
    <div class="card-body">
        <div class="card-title"><h6>Appliquer Filtres</h6></div>
        <hr>

        <form method="GET" class="row align-items-center">
            <div class="col">
                <label class="form-label" for="recruiter">Filtrer par recruteur :</label>
                <select name="recruiter" id="recruiter" class="form-control">
                    <option value="">Tous</option>
                    {% for recruiter in recruiters %}
                    <option value="{{ recruiter.id }}" {% if selected_recruiter == recruiter.id|stringformat:"s" %} selected {% endif %}>
                        {{ recruiter.user.username }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col">
                
                <label class="form-label" for="statut">Filtrer par statut :</label>
                <select name="is_open" id="is_open" class="form-control">
                    <option value="">Tous</option>
                    <option value="open" {% if is_open_filter == 'open' %} selected {% endif %}>Ouvert</option>
                    <option value="closed" {% if is_open_filter == 'closed' %} selected {% endif %}>Fermé</option>
                </select>
            </div>
        
            <div class="col">
                <br>
                <button  type="submit" class="btn btn-dark"> Appliquer </button>
            </div>
        </form>

        
    </div>

</div>

{% include 'rec/list_job_partiel.html' with jobs=jobs %}





    <div id="applications-container"></div>


</div>




<script>
    $(document).ready(function () {
        $('.job-row').on('click', function () {
            var jobId = $(this).data('id');
            $.ajax({
                url: "{% url 'job_candidates' 0 %}".replace('0', jobId),
                type: 'GET',
                success: function (data) {
                    $('#applications-container').html(data);
                }
            });
        });
    });
</script>




{% endblock%}