<div class="card mt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mt-3">Emplois postés</h4>
            {% if not request.user.is_superuser %}
            <a href="{% url 'post_job' %}" class="btn btn-secoundary mt-3"><i class="fa-solid fa-plus"></i> Ajouter un nouvel emploi</a>
            {% endif %}
        </div>
        <hr>

        <div style="height: 500px;  overflow-y: scroll">
            <table class="table align-middle mb-5 bg-white mt-3 table-hover">
                <thead class="bg-light">
                    <tr>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Date de publication</th>
                        <th>Publié par </th>
                        <th width="10%"> Nombre candidature</th>
                        <th>Statut</th>
                      
                        <th width="20%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td class="job-row" data-id="{{ job.id }}">{{ job.title|truncatechars:14 }}</td>
                        <td>{{ job.get_job_type_display }}</td>

                        <td>{{ job.posted_at }}</td>
                        <td class="text-warning"><a href="{% url 'view_profile' job.recruiter.user.id %}">{{ job.recruiter.user.username }}</a></td>
                        <td class="text-center"> <span class="badge badge-primary rounded-pill d-inline">
                            {{ job.applications.count }}</span> </td>

                        <td>
                            {% if job.is_open %}
                            <span class="badge badge-success rounded-pill d-inline">Activé</span>
                            {% else %}
                            <span class="badge badge-danger rounded-pill d-inline">Désactivé</span>
                            {% endif %}


                        </td>

                        <!--
                        <td><a data-id="{{ job.id }}" data-mdb-ripple-init data-mdb-modal-init
                                onclick="showSpinnerModal('Analyse des CV en cours. <br> Veuillez  patienter...')"
                                class="btn btn-link btn-sm btn-rounded job-row"></i>Liste Candidats </a></td>-->
                        <td>
                            <a href="{% url 'job_detail' job.id %}" class="btn btn-link btn-sm btn-rounded"><i class="fa-solid fa-eye fa-xl"></i></a>
                            {% if request.user.recruiter_profile == job.recruiter %}
                            <a href="{% url 'edit_job' job.id %}" class="btn btn-link btn-sm btn-rounded"><i
                                    class="fa-solid fa-pen-to-square fa-xl"></i></a>
                            <a href="#" class="btn btn-link btn-sm btn-rounded"
                                onclick="confirmAction('Êtes-vous sûr de vouloir supprimer ce job ?', '{% url 'delete_job' job.id %}')"><i
                                    class="fa-solid fa-trash fa-xl"></i></a>
                          
                                    <!-- 
                          
                               
                            <span class="small text-muted">
                                Vous n'avez pas les autorisations de
                                modification/suppression.</span> 
                                
                                -->
                            
                          {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
